@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

/*@import 'vendors/materialize';*/

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';
@import 'layout/modal';

@import 'components/buttons';
@import 'components/carousel';

@import 'pages/main-page/main-page';
@import 'pages/news-page/news-page';

@import 'themes/theme';

.mobile {
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.tablet {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.desktop {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}
.tab-desk {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}
.container {
	position: relative;
	width: 87.5vw;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
        width: 730px;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
}
.container-tablet {
	position: relative;

	@media screen and (min-width: 768px) {
        width: 730px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
}
.container-main-slider {
    position: relative;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1440px) {
        width: 1320px;
        margin: 0 auto;
    }
}
.container-news {
    position: relative;
    width: 87.5vw;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 730px;
    }
    @media screen and (min-width: 1200px) {
        width: 750px;
    }
}
.container-tablet-news {
    position: relative;

    @media screen and (min-width: 768px) {
        width: 730px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        width: 750px;
    }
}

