$text-color-dark-grey: #222222;
$text-color-light-grey: #4D4D4D;
$aquamarine: #406982;
$cormorant: 'Cormorant Garamond', serif;
$montserrat: 'Montserrat', sans-serif;
$ibm: 'IBM Plex Sans', sans-serif;